{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["plugin:vue/base"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "vue/no-duplicate-attributes": ["error", {
      "allowCoexistClass": true,
      "allowCoexistStyle": true
    }]
  }
}