.main-page {
  background: url("../../assets/main-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  padding-top: 140px;
}

.user-profile {
  color: #fff;
  font-size: 24px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}